<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Category</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <%- include('partials/_navbar') %>

    <h1>Edit Category</h1>

    <% if (error) { %>
    <section>
        <p class="error"><%= error %></p>
    </section>
    <% } %>

    <form action="/categories/edit/<%= category.id %>" method="POST">
        <table>
            <tr>
                <td><label>Name</label></td>
                <td><input type="text" name="name" value="<%= category.name %>"></td>
            </tr>
            <tr>
                <td><label>Image</label></td>
                <td><input type="text" name="image" value="<%= category.image %>"></td>
            </tr>
        </table> <br>

        <button type="submit">Update</button>
    </form>

    <%- include('partials/_footer', { menu: "Edit Category" }) %>
</body>

</html>