<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/tolisfresh/favicon.ico" />
    <title>Tolis Fresh - Supplier Makanan HORECA</title>
    <link href="/assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
    <!--begin::WhatsApp-->
    <link rel="stylesheet" href="/plugin/whatsapp-chat-support.css">
    <!--end::WhatsApp-->
    <%- include('partials/stylesheet') %>
</head>

<body data-kt-name="metronic" id="beranda" data-bs-spy="scroll" data-bs-target="#kt_landing_menu" data-bs-offset="200" class="bg-white position-relative app-blank">

    <!--begin::Theme mode setup on page load-->
    <%- include('partials/theme') %>
    <!--end::Theme mode setup on page load-->

    <!--begin::Root-->
    <div class="d-flex flex-column flex-root" id="kt_app_root">

        <!--begin::Header Section-->
        <div class="mb-0" id="home">

            <!--begin::Wrapper-->
            <div class="bgi-no-repeat bgi-size-contain bgi-position-x-center bgi-position-y-bottom landing-green-bg">

                <!--begin::Header-->
                <div class="landing-header" data-kt-sticky="true" data-kt-sticky-name="landing-header" data-kt-sticky-offset="{default: '200px', lg: '300px'}">

                    <!--begin::Container-->
                    <div class="container">

                        <!--begin::Wrapper-->
                        <div class="d-flex align-items-center justify-content-between">

                            <!--begin::Logo-->
                            <div class="d-flex align-items-center flex-equal">

                                <!--begin::Mobile menu toggle-->
                                <button class="btn btn-icon btn-active-color-primary me-3 d-flex d-lg-none" id="kt_landing_menu_toggle">
                                    <!--begin::Svg Icon | path: icons/duotune/abstract/abs015.svg-->
                                    <span class="svg-icon svg-icon-2hx">
                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M21 7H3C2.4 7 2 6.6 2 6V4C2 3.4 2.4 3 3 3H21C21.6 3 22 3.4 22 4V6C22 6.6 21.6 7 21 7Z" fill="currentColor" />
                                            <path opacity="0.3" d="M21 14H3C2.4 14 2 13.6 2 13V11C2 10.4 2.4 10 3 10H21C21.6 10 22 10.4 22 11V13C22 13.6 21.6 14 21 14ZM22 20V18C22 17.4 21.6 17 21 17H3C2.4 17 2 17.4 2 18V20C2 20.6 2.4 21 3 21H21C21.6 21 22 20.6 22 20Z" fill="currentColor" />
                                        </svg>
                                    </span>
                                    <!--end::Svg Icon-->
                                </button>
                                <!--end::Mobile menu toggle-->

                                <!--begin::Logo image-->
                                <a href="/">
                                    <img alt="Logo" src="/img/tolisfresh/logo-tolis.png" class="logo-default h-40px h-lg-55px" />
                                    <img alt="Logo" src="/img/tolisfresh/logo-tolis.png" class="logo-sticky h-40px h-lg-45px" />
                                </a>
                                <!--end::Logo image-->
                            </div>
                            <!--end::Logo-->

                            <!--begin::Menu wrapper-->
                            <div class="d-lg-block" id="kt_header_nav_wrapper">
                                <div class="d-lg-block p-5 p-lg-0" data-kt-drawer="true" data-kt-drawer-name="landing-menu" data-kt-drawer-activate="{default: true, lg: false}" data-kt-drawer-overlay="true" data-kt-drawer-width="200px" data-kt-drawer-direction="start" data-kt-drawer-toggle="#kt_landing_menu_toggle" data-kt-swapper="true" data-kt-swapper-mode="prepend" data-kt-swapper-parent="{default: '#beranda', lg: '#kt_header_nav_wrapper'}">

                                    <!--begin::Menu-->
                                    <div class="menu menu-column flex-nowrap menu-rounded menu-lg-row menu-title-gray-400 menu-state-title-primary nav nav-flush fs-5 fw-semibold" id="kt_landing_menu">

                                        <!--begin::Menu item-->
                                        <div class="menu-item">
                                            <!--begin::Menu link-->
                                            <a class="menu-link nav-link active py-3 px-4 px-xxl-6" href="#beranda" data-kt-scroll-toggle="true" data-kt-drawer-dismiss="true">Beranda</a>
                                            <!--end::Menu link-->
                                        </div>
                                        <!--end::Menu item-->

                                        <!--begin::Menu item-->
                                        <div class="menu-item">
                                            <!--begin::Menu link-->
                                            <a class="menu-link nav-link py-3 px-4 px-xxl-6" href="#pesan" data-kt-scroll-toggle="true" data-kt-drawer-dismiss="true">Pemesanan</a>
                                            <!--end::Menu link-->
                                        </div>
                                        <!--end::Menu item-->

                                        <!--begin::Menu item-->
                                        <div class="menu-item">
                                            <!--begin::Menu link-->
                                            <a class="menu-link nav-link py-3 px-4 px-xxl-6" href="#tolisfresh" data-kt-scroll-toggle="true" data-kt-drawer-dismiss="true">Tolisfresh</a>
                                            <!--end::Menu link-->
                                        </div>
                                        <!--end::Menu item-->

                                        <!--begin::Menu item-->
                                        <div class="menu-item">
                                            <!--begin::Menu link-->
                                            <a class="menu-link nav-link py-3 px-4 px-xxl-6" href="#team" data-kt-scroll-toggle="true" data-kt-drawer-dismiss="true">Team</a>
                                            <!--end::Menu link-->
                                        </div>
                                        <!--end::Menu item-->

                                        <!--begin::Menu item-->
                                        <div class="menu-item">
                                            <!--begin::Menu link-->
                                            <a class="menu-link nav-link py-3 px-4 px-xxl-6" href="#portfolio" data-kt-scroll-toggle="true" data-kt-drawer-dismiss="true">Portfolio</a>
                                            <!--end::Menu link-->
                                        </div>
                                        <!--end::Menu item-->

                                        <!--begin::Menu item-->
                                        <div class="menu-item">
                                            <!--begin::Menu link-->
                                            <a class="menu-link nav-link py-3 px-4 px-xxl-6" href="#kategori" data-kt-scroll-toggle="true" data-kt-drawer-dismiss="true">Kategori</a>
                                            <!--end::Menu link-->
                                        </div>
                                        <!--end::Menu item-->

                                    </div>
                                    <!--end::Menu-->

                                </div>
                            </div>
                            <!--end::Menu wrapper-->

                            <!--begin::Toolbar-->
                            <div class="flex-equal text-end ms-1">
                                <a href="/login" class="btn btn-success">Sign In</a>
                            </div>
                            <!--end::Toolbar-->

                        </div>
                        <!--end::Wrapper-->

                    </div>
                    <!--end::Container-->

                </div>
                <!--end::Header-->

                <!--begin::Landing hero-->
                <div class="d-flex flex-column flex-center w-100 min-h-350px min-h-lg-500px px-9">

                    <!--begin::Heading-->
                    <div class="text-center mb-5 mb-lg-10 py-10 py-lg-20">

                        <!--begin::Error-->
                        <% if (error) { %>
                        <div class="alert alert-danger d-flex align-items-center p-5">

                            <!--begin::Svg Icon | path: C:/wamp64/www/keenthemes/core/html/src/media/icons/duotune/abstract/abs012.svg-->
                            <span class="svg-icon svg-icon-2 svg-icon-danger">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect opacity="0.3" x="2" y="2" width="20" height="20" rx="10" fill="currentColor" />
                                    <rect x="7" y="15.3137" width="12" height="2" rx="1" transform="rotate(-45 7 15.3137)" fill="currentColor" />
                                    <rect x="8.41422" y="7" width="12" height="2" rx="1" transform="rotate(45 8.41422 7)" fill="currentColor" />
                                </svg>
                            </span>
                            <!--end::Svg Icon-->

                            <!--begin::Wrapper-->
                            <div class="d-flex flex-column">
                                <!--begin::Content-->
                                <span class="ms-3"><%= error.split(",").join(", ") %></span>
                                <!--end::Content-->
                            </div>
                            <!--end::Wrapper-->

                        </div>
                        <% } %>
                        <!--end::Error-->

                        <!--begin::Success-->
                        <% if (message) { %>
                        <div class="alert alert-success d-flex align-items-center p-5">

                            <!--begin::Svg Icon | path: C:/wamp64/www/keenthemes/core/html/src/media/icons/duotune/arrows/arr016.svg-->
                            <span class="svg-icon svg-icon-2 svg-icon-success"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path opacity="0.3" d="M10.3 14.3L11 13.6L7.70002 10.3C7.30002 9.9 6.7 9.9 6.3 10.3C5.9 10.7 5.9 11.3 6.3 11.7L10.3 15.7C9.9 15.3 9.9 14.7 10.3 14.3Z" fill="currentColor" />
                                    <path d="M22 12C22 17.5 17.5 22 12 22C6.5 22 2 17.5 2 12C2 6.5 6.5 2 12 2C17.5 2 22 6.5 22 12ZM11.7 15.7L17.7 9.70001C18.1 9.30001 18.1 8.69999 17.7 8.29999C17.3 7.89999 16.7 7.89999 16.3 8.29999L11 13.6L7.70001 10.3C7.30001 9.89999 6.69999 9.89999 6.29999 10.3C5.89999 10.7 5.89999 11.3 6.29999 11.7L10.3 15.7C10.5 15.9 10.8 16 11 16C11.2 16 11.5 15.9 11.7 15.7Z" fill="currentColor" />
                                </svg>
                            </span>
                            <!--end::Svg Icon-->

                            <!--begin::Wrapper-->
                            <div class="d-flex flex-column">

                                <!--begin::Content-->
                                <span class="ms-3"><%= message %></span>
                                <!--end::Content-->

                            </div>
                            <!--end::Wrapper-->

                        </div>
                        <% } %>
                        <!--end::Success-->

                        <!--begin::Title-->
                        <h1 class="text-white lh-base fw-bold fs-2x fs-lg-3x mb-15">Supplier Bahan Baku
                            <span style="background: linear-gradient(to right, #12CE5D 0%, #FFD80C 100%);-webkit-background-clip: text;-webkit-text-fill-color: transparent;">
                                <span id="kt_landing_hero_text"> <br> Makanan Terpercaya</span>
                            </span>
                        </h1>
                        <!--end::Title-->

                        <!--begin::Action-->
                        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#kt_modal_1">
                            Pesan
                        </button>
                        <!--end::Action-->

                    </div>
                    <!--end::Heading-->

                    <!--begin::Modal-->
                    <div class="modal fade" tabindex="-1" id="kt_modal_1">
                        <div class="modal-dialog ">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h3 class="modal-title">Pemesanan</h3>

                                    <!--begin::Close-->
                                    <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                                        <!--begin::Svg Icon | path: C:/wamp64/www/keenthemes/core/html/src/media/icons/duotune/arrows/arr088.svg-->
                                        <span class="svg-icon svg-icon-muted svg-icon-2hx"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <rect opacity="0.5" x="7.05025" y="15.5356" width="12" height="2" rx="1" transform="rotate(-45 7.05025 15.5356)" fill="currentColor" />
                                                <rect x="8.46447" y="7.05029" width="12" height="2" rx="1" transform="rotate(45 8.46447 7.05029)" fill="currentColor" />
                                            </svg></span>
                                        <!--end::Svg Icon-->
                                    </div>
                                    <!--end::Close-->
                                </div>

                                <div class="modal-body">

                                    <!--begin:Form-->
                                    <form id="kt_modal_new_target_form" class="form" action="/purchases/add" method="POST">

                                        <!--begin::Input group-->
                                        <div class="row g-9 mb-8">
                                            <!--begin::Col-->
                                            <div class="col-md-6">
                                                <label class="required fs-6 fw-semibold mb-2">Nama</label>
                                                <input type="text" class="form-control form-control-solid" placeholder="Tuliskan nama" name="name" />
                                            </div>
                                            <!--end::Col-->
                                            <!--begin::Col-->
                                            <div class="col-md-6 fv-row">
                                                <label class="fs-6 fw-semibold mb-2">Brand</label>
                                                <input type="text" class="form-control form-control-solid" placeholder="Tuliskan brand" name="businessName" />
                                            </div>
                                            <!--end::Col-->
                                        </div>
                                        <!--end::Input group-->

                                        <!--begin::Input group-->
                                        <div class="row g-9 mb-8">
                                            <!--begin::Col-->
                                            <div class="col-md-6">
                                                <label class="fs-6 fw-semibold mb-2">Email</label>
                                                <input type="text" class="form-control form-control-solid" placeholder="Tuliskan email" name="email" />
                                            </div>
                                            <!--end::Col-->
                                            <!--begin::Col-->
                                            <div class="col-md-6 fv-row">
                                                <label class="required fs-6 fw-semibold mb-2">WhatsApp</label>
                                                <input type="text" class="form-control form-control-solid" placeholder="Tuliskan whatsapp" name="phoneNumber" />
                                            </div>
                                            <!--end::Col-->
                                        </div>
                                        <!--end::Input group-->

                                        <!--begin::Input group-->
                                        <div class="d-flex flex-column mb-8 fv-row">
                                            <label class="fs-6 fw-semibold mb-2">Alamat</label>
                                            <textarea class="form-control form-control-solid" rows="3" name="businessAddress" placeholder="Masukan alamat perusahaan"></textarea>
                                        </div>
                                        <!--end::Input group-->

                                        <!--begin::Input group-->
                                        <div class="d-flex flex-column mb-8 fv-row">
                                            <label class="fs-6 fw-semibold mb-2">Catatan</label>
                                            <textarea class="form-control form-control-solid" rows="3" name="message" placeholder="Masukan barang yang ingin dibeli"></textarea>
                                        </div>
                                        <!--end::Input group-->

                                        <!--begin::Actions-->
                                        <div class="text-center mt-16">
                                            <button type="submit" name="submit" class="btn btn-primary">
                                                Submit
                                            </button>
                                        </div>
                                        <!--end::Actions-->
                                    </form>
                                    <!--end:Form-->

                                </div>

                            </div>
                        </div>
                    </div>
                    <!--end::Modal-->

                </div>
                <!--end::Landing hero-->

            </div>
            <!--end::Wrapper-->

            <!--begin::Curve bottom-->
            <div class="landing-curve landing-green-color mb-10 mb-lg-20">
                <svg viewBox="15 12 1470 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 11C3.93573 11.3356 7.85984 11.6689 11.7725 12H1488.16C1492.1 11.6689 1496.04 11.3356 1500 11V12H1488.16C913.668 60.3476 586.282 60.6117 11.7725 12H0V11Z" fill="currentColor"></path>
                </svg>
            </div>
            <!--end::Curve bottom-->

        </div>
        <!--end::Header Section-->

        <!--begin::Booking-->
        <div class="mb-n10 mb-lg-n20 z-index-2">

            <!--begin::Container-->
            <div class="container">

                <!--begin::Heading-->
                <div class="text-center mb-17">

                    <!--begin::Title-->
                    <h3 class="fs-2hx text-dark mb-5" id="pesan" data-kt-scroll-offset="{default: 100, lg: 150}">Cara Pemesanan</h3>
                    <!--end::Title-->

                    <!--begin::Text-->
                    <div class="fs-5 text-muted fw-bold">Berikut tata cara memesan produk yang ada di Tolisfresh,
                        <br>caranya mudah dan cepat
                    </div>
                    <!--end::Text-->

                </div>
                <!--end::Heading-->

                <!--begin::Row-->
                <div class="row w-100 gy-10 mb-md-20">

                    <!--begin::Col-->
                    <div class="col-md-4 px-5">

                        <!--begin::Story-->
                        <div class="text-center mb-10 mb-md-0">

                            <!--begin::Illustration-->
                            <img src="/img/tolisfresh/telephone.gif" class="mh-125px mb-9" alt="pemesanan" />
                            <!--end::Illustration-->

                            <!--begin::Heading-->
                            <div class="d-flex flex-center mb-5">
                                <!--begin::Badge-->
                                <span class="badge badge-circle badge-light-success fw-bold p-5 me-3 fs-3">1</span>
                                <!--end::Badge-->
                                <!--begin::Title-->
                                <div class="fs-5 fs-lg-3 fw-bold text-dark">Pemesanan</div>
                                <!--end::Title-->
                            </div>
                            <!--end::Heading-->

                            <!--begin::Description-->
                            <div class="fs-6 fs-lg-4 text-muted">
                                Purchase order dikirimkan H-1 melalui WhatsApp kami. Tidak ada batas waktu pemesanan (24 jam)
                            </div>
                            <!--end::Description-->

                        </div>
                        <!--end::Story-->

                    </div>
                    <!--end::Col-->

                    <!--begin::Col-->
                    <div class="col-md-4 px-5">

                        <!--begin::Story-->
                        <div class="text-center mb-10 mb-md-0">

                            <!--begin::Illustration-->
                            <img src="/img/tolisfresh/delivery-truck.gif" class="mh-125px mb-9" alt="pengiriman" />
                            <!--end::Illustration-->

                            <!--begin::Heading-->
                            <div class="d-flex flex-center mb-5">
                                <!--begin::Badge-->
                                <span class="badge badge-circle badge-light-success fw-bold p-5 me-3 fs-3">2</span>
                                <!--end::Badge-->
                                <!--begin::Title-->
                                <div class="fs-5 fs-lg-3 fw-bold text-dark">Pengiriman</div>
                                <!--end::Title-->
                            </div>
                            <!--end::Heading-->

                            <!--begin::Description-->
                            <div class="fs-6 fs-lg-4 text-muted">
                                Pengiriman dilakukan H+1 setelah pemesanan diterima.
                                Free ongkir dengan minimum pembelian 500 ribu
                            </div>
                            <!--end::Description-->

                        </div>
                        <!--end::Story-->

                    </div>
                    <!--end::Col-->

                    <!--begin::Col-->
                    <div class="col-md-4 px-5">

                        <!--begin::Story-->
                        <div class="text-center mb-10 mb-md-0">

                            <!--begin::Illustration-->
                            <img src="/img/tolisfresh/payment.gif" class="mh-125px mb-9" alt="pembayaran" />
                            <!--end::Illustration-->

                            <!--begin::Heading-->
                            <div class="d-flex flex-center mb-5">
                                <!--begin::Badge-->
                                <span class="badge badge-circle badge-light-success fw-bold p-5 me-3 fs-3">3</span>
                                <!--end::Badge-->
                                <!--begin::Title-->
                                <div class="fs-5 fs-lg-3 fw-bold text-dark">Pembayaran</div>
                                <!--end::Title-->
                            </div>
                            <!--end::Heading-->

                            <!--begin::Description-->
                            <div class="fs-6 fs-lg-4 text-muted">
                                Pembayaran dapat dilakukan dalam tempo minimal 1 minggu dan maksimal 1 bulan setelah tukar faktur
                            </div>
                            <!--end::Description-->

                        </div>
                        <!--end::Story-->

                    </div>
                    <!--end::Col-->

                </div>
                <!--end::Row-->

                <!--begin::Product slider-->
                <div class="tns tns-default">
                    <!--begin::Slider-->
                    <div data-tns="true" data-tns-loop="true" data-tns-swipe-angle="false" data-tns-speed="2000" data-tns-autoplay="true" data-tns-autoplay-timeout="18000" data-tns-controls="true" data-tns-nav="false" data-tns-items="1" data-tns-center="false" data-tns-dots="false" data-tns-prev-button="#kt_team_slider_prev1" data-tns-next-button="#kt_team_slider_next1">
                        <!--begin::Item-->
                        <div class="text-center px-5 pt-5 pt-lg-10 px-lg-10">
                            <img src="/img/tolisfresh/bn.png" class="card-rounded shadow mw-100" alt="banner" />
                        </div>
                        <!--end::Item-->
                        <!--begin::Item-->
                        <div class="text-center px-5 pt-5 pt-lg-10 px-lg-10">
                            <img src="/img/tolisfresh/bn.png" class="card-rounded shadow mw-100" alt="banner" />
                        </div>
                        <!--end::Item-->
                        <!--begin::Item-->
                        <div class="text-center px-5 pt-5 pt-lg-10 px-lg-10">
                            <img src="/img/tolisfresh/bn.png" class="card-rounded shadow mw-100" alt="banner" />
                        </div>
                        <!--end::Item-->
                    </div>
                    <!--end::Slider-->
                    <!--begin::Slider button-->
                    <button class="btn btn-icon btn-active-color-success" id="kt_team_slider_prev1">
                        <!--begin::Svg Icon | path: icons/duotune/arrows/arr074.svg-->
                        <span class="svg-icon svg-icon-3x">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M11.2657 11.4343L15.45 7.25C15.8642 6.83579 15.8642 6.16421 15.45 5.75C15.0358 5.33579 14.3642 5.33579 13.95 5.75L8.40712 11.2929C8.01659 11.6834 8.01659 12.3166 8.40712 12.7071L13.95 18.25C14.3642 18.6642 15.0358 18.6642 15.45 18.25C15.8642 17.8358 15.8642 17.1642 15.45 16.75L11.2657 12.5657C10.9533 12.2533 10.9533 11.7467 11.2657 11.4343Z" fill="currentColor" />
                            </svg>
                        </span>
                        <!--end::Svg Icon-->
                    </button>
                    <!--end::Slider button-->
                    <!--begin::Slider button-->
                    <button class="btn btn-icon btn-active-color-success" id="kt_team_slider_next1">
                        <!--begin::Svg Icon | path: icons/duotune/arrows/arr071.svg-->
                        <span class="svg-icon svg-icon-3x">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M12.6343 12.5657L8.45001 16.75C8.0358 17.1642 8.0358 17.8358 8.45001 18.25C8.86423 18.6642 9.5358 18.6642 9.95001 18.25L15.4929 12.7071C15.8834 12.3166 15.8834 11.6834 15.4929 11.2929L9.95001 5.75C9.5358 5.33579 8.86423 5.33579 8.45001 5.75C8.0358 6.16421 8.0358 6.83579 8.45001 7.25L12.6343 11.4343C12.9467 11.7467 12.9467 12.2533 12.6343 12.5657Z" fill="currentColor" />
                            </svg>
                        </span>
                        <!--end::Svg Icon-->
                    </button>
                    <!--end::Slider button-->
                </div>
                <!--end::Product slider-->
            </div>
            <!--end::Container-->
        </div>
        <!--end::Booking-->

        <!--begin::Why-->
        <div class="mt-sm-n10">
            <!--begin::Curve top-->
            <div class="landing-curve landing-green-color">
                <svg viewBox="15 -1 1470 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 48C4.93573 47.6644 8.85984 47.3311 12.7725 47H1489.16C1493.1 47.3311 1497.04 47.6644 1501 48V47H1489.16C914.668 -1.34764 587.282 -1.61174 12.7725 47H1V48Z" fill="currentColor"></path>
                </svg>
            </div>
            <!--end::Curve top-->
            <!--begin::Wrapper-->
            <div class="pb-15 pt-18 landing-green-bg">
                <!--begin::Container-->
                <div class="container">
                    <!--begin::Heading-->
                    <div class="text-center mt-15 mb-18" id="tolisfresh" data-kt-scroll-offset="{default: 100, lg: 150}">
                        <!--begin::Title-->
                        <h3 class="fs-2hx text-white fw-bold mb-5">Kenapa Tolisfresh?</h3>
                        <!--end::Title-->
                        <!--begin::Description-->
                        <div class="fs-5 text-gray-500 fw-bold">Berikut kelebihan yang ditawarkan oleh Tolisfresh
                            <br />bila dibandingkan dengan kompetitor
                        </div>
                        <!--end::Description-->
                    </div>
                    <!--end::Heading-->
                    <!--begin::Statistics-->
                    <div class="d-flex flex-center">
                        <!--begin::Items-->
                        <div class="d-flex flex-wrap flex-center justify-content-lg-between mb-15 mx-auto w-xl-1100px">
                            <!--begin::Item-->
                            <div class="d-flex flex-column flex-center h-200px w-200px h-lg-250px w-lg-250px m-3 bgi-no-repeat bgi-position-center bgi-size-contain">
                                <!--begin::Image-->
                                <img class="mw-80px mh-80px card-rounded" alt="category" src="/img/tolisfresh/product.gif" />
                                <!--end::Image-->
                                <!--begin::Info-->
                                <div class="mt-5 mb-0">
                                    <!--begin::Label-->
                                    <span class="text-white fw-semibold fs-3 lh-2">+1000 Produk</span>
                                    <!--end::Label-->
                                </div>
                                <!--end::Info-->
                            </div>
                            <!--end::Item-->
                            <!--begin::Item-->
                            <div class="d-flex flex-column flex-center h-200px w-200px h-lg-250px w-lg-250px m-3 bgi-no-repeat bgi-position-center bgi-size-contain">
                                <!--begin::Image-->
                                <img class="mw-80px mh-80px card-rounded" alt="category" src="/img/tolisfresh/fresh.gif" />
                                <!--end::Image-->
                                <!--begin::Info-->
                                <div class="mt-5 mb-0">
                                    <!--begin::Label-->
                                    <span class="text-white fw-semibold fs-3 lh-2">Fresh Berkualitas</span>
                                    <!--end::Label-->
                                </div>
                                <!--end::Info-->
                            </div>
                            <!--end::Item-->
                            <!--begin::Item-->
                            <div class="d-flex flex-column flex-center h-200px w-200px h-lg-250px w-lg-250px m-3 bgi-no-repeat bgi-position-center bgi-size-contain">
                                <!--begin::Image-->
                                <img class="mw-80px mh-80px card-rounded" alt="category" src="/img/tolisfresh/send.gif" />
                                <!--end::Image-->
                                <!--begin::Info-->
                                <div class="mt-5 mb-0">
                                    <!--begin::Label-->
                                    <span class="text-white fw-semibold fs-3 lh-2">Gratis Pengiriman</span>
                                    <!--end::Label-->
                                </div>
                                <!--end::Info-->
                            </div>
                            <!--end::Item-->
                            <!--begin::Item-->
                            <div class="d-flex flex-column flex-center h-200px w-200px h-lg-250px w-lg-250px m-3 bgi-no-repeat bgi-position-center bgi-size-contain">
                                <!--begin::Image-->
                                <img class="mw-80px mh-80px card-rounded" alt="category" src="/img/tolisfresh/shipping.gif" />
                                <!--end::Image-->
                                <!--begin::Info-->
                                <div class="mt-5 mb-0">
                                    <!--begin::Label-->
                                    <span class="text-white fw-semibold fs-3 lh-2">Cepat & Aman</span>
                                    <!--end::Label-->
                                </div>
                                <!--end::Info-->
                            </div>
                            <!--end::Item-->
                        </div>
                        <!--end::Items-->
                    </div>
                    <!--end::Statistics-->
                    <!--begin::Testimonial-->
                    <div class="fs-6 text-gray-300 text-muted text-center mb-3">
                        Tolis Fresh merupakan supplier terpercaya penyedia aneka jenis sayuran, buah-buahan, sembako dan daging ayam berkualitas.
                        <br />
                        Kami juga selalu berkomitmen menjaga kepercayaan konsumen, menjalin hubungan yang baik dan memberikan kualitas barang terbaik.
                        <br>
                        Kami telah memasok ke beberapa sektor seperti BUMN & BUMD serta beberapa industri HORECA (Hotel, Hospital Restaurant, Cafe, Catering) se-JABODETABEK.
                    </div>
                    <!--end::Testimonial-->
                </div>
                <!--end::Container-->
            </div>
            <!--end::Wrapper-->
            <!--begin::Curve bottom-->
            <div class="landing-curve landing-green-color">
                <svg viewBox="15 12 1470 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 11C3.93573 11.3356 7.85984 11.6689 11.7725 12H1488.16C1492.1 11.6689 1496.04 11.3356 1500 11V12H1488.16C913.668 60.3476 586.282 60.6117 11.7725 12H0V11Z" fill="currentColor"></path>
                </svg>
            </div>
            <!--end::Curve bottom-->
        </div>
        <!--end::Why-->

        <!--begin::Team Section-->
        <div class="py-10 py-lg-20">
            <!--begin::Container-->
            <div class="container">
                <!--begin::Heading-->
                <div class="text-center mb-12">
                    <!--begin::Title-->
                    <h3 class="fs-2hx text-dark mb-5" id="team" data-kt-scroll-offset="{default: 100, lg: 150}">Profesional Team</h3>
                    <!--end::Title-->
                    <!--begin::Sub-title-->
                    <div class="fs-5 text-muted fw-bold">Kami bekerja dengan profesional dengan pelayanan terbaik,
                        <br />kepuasan pelanggan merupakan keberhasilan kami
                    </div>
                    <!--end::Sub-title=-->
                </div>
                <!--end::Heading-->
                <!--begin::Slider-->
                <div class="tns tns-default">
                    <!--begin::Wrapper-->
                    <div data-tns="true" data-tns-loop="true" data-tns-swipe-angle="false" data-tns-speed="2000" data-tns-autoplay="true" data-tns-autoplay-timeout="18000" data-tns-controls="true" data-tns-nav="false" data-tns-items="1" data-tns-center="false" data-tns-dots="false" data-tns-prev-button="#kt_team_slider_prev" data-tns-next-button="#kt_team_slider_next" data-tns-responsive="{1200: {items: 3}, 992: {items: 2}}">
                        <!--begin::Item-->
                        <div class="text-center">
                            <!--begin::Photo-->
                            <div class="octagon mx-auto mb-5 d-flex w-200px h-200px bgi-no-repeat bgi-size-contain bgi-position-center" style="background-image:url('/img/tolisfresh/photo.png')"></div>
                            <!--end::Photo-->
                            <!--begin::Person-->
                            <div class="mb-0">
                                <!--begin::Name-->
                                <a href="#" class="text-dark fw-bold text-hover-success fs-3">Paul Miles</a>
                                <!--end::Name-->
                                <!--begin::Position-->
                                <div class="text-muted fs-6 fw-semibold mt-1">Development Lead</div>
                                <!--begin::Position-->
                            </div>
                            <!--end::Person-->
                        </div>
                        <!--end::Item-->
                        <!--begin::Item-->
                        <div class="text-center">
                            <!--begin::Photo-->
                            <div class="octagon mx-auto mb-5 d-flex w-200px h-200px bgi-no-repeat bgi-size-contain bgi-position-center" style="background-image:url('/img/tolisfresh/photo.png')"></div>
                            <!--end::Photo-->
                            <!--begin::Person-->
                            <div class="mb-0">
                                <!--begin::Name-->
                                <a href="#" class="text-dark fw-bold text-hover-success fs-3">Melisa Marcus</a>
                                <!--end::Name-->
                                <!--begin::Position-->
                                <div class="text-muted fs-6 fw-semibold mt-1">Creative Director</div>
                                <!--begin::Position-->
                            </div>
                            <!--end::Person-->
                        </div>
                        <!--end::Item-->
                        <!--begin::Item-->
                        <div class="text-center">
                            <!--begin::Photo-->
                            <div class="octagon mx-auto mb-5 d-flex w-200px h-200px bgi-no-repeat bgi-size-contain bgi-position-center" style="background-image:url('/img/tolisfresh/photo.png')"></div>
                            <!--end::Photo-->
                            <!--begin::Person-->
                            <div class="mb-0">
                                <!--begin::Name-->
                                <a href="#" class="text-dark fw-bold text-hover-success fs-3">David Nilson</a>
                                <!--end::Name-->
                                <!--begin::Position-->
                                <div class="text-muted fs-6 fw-semibold mt-1">Python Expert</div>
                                <!--begin::Position-->
                            </div>
                            <!--end::Person-->
                        </div>
                        <!--end::Item-->
                        <!--begin::Item-->
                        <div class="text-center">
                            <!--begin::Photo-->
                            <div class="octagon mx-auto mb-5 d-flex w-200px h-200px bgi-no-repeat bgi-size-contain bgi-position-center" style="background-image:url('/img/tolisfresh/photo.png')"></div>
                            <!--end::Photo-->
                            <!--begin::Person-->
                            <div class="mb-0">
                                <!--begin::Name-->
                                <a href="#" class="text-dark fw-bold text-hover-success fs-3">Anne Clarc</a>
                                <!--end::Name-->
                                <!--begin::Position-->
                                <div class="text-muted fs-6 fw-semibold mt-1">Project Manager</div>
                                <!--begin::Position-->
                            </div>
                            <!--end::Person-->
                        </div>
                        <!--end::Item-->
                        <!--begin::Item-->
                        <div class="text-center">
                            <!--begin::Photo-->
                            <div class="octagon mx-auto mb-5 d-flex w-200px h-200px bgi-no-repeat bgi-size-contain bgi-position-center" style="background-image:url('/img/tolisfresh/photo.png')"></div>
                            <!--end::Photo-->
                            <!--begin::Person-->
                            <div class="mb-0">
                                <!--begin::Name-->
                                <a href="#" class="text-dark fw-bold text-hover-success fs-3">Ricky Hunt</a>
                                <!--end::Name-->
                                <!--begin::Position-->
                                <div class="text-muted fs-6 fw-semibold mt-1">Art Director</div>
                                <!--begin::Position-->
                            </div>
                            <!--end::Person-->
                        </div>
                        <!--end::Item-->
                        <!--begin::Item-->
                        <div class="text-center">
                            <!--begin::Photo-->
                            <div class="octagon mx-auto mb-5 d-flex w-200px h-200px bgi-no-repeat bgi-size-contain bgi-position-center" style="background-image:url('/img/tolisfresh/photo.png')"></div>
                            <!--end::Photo-->
                            <!--begin::Person-->
                            <div class="mb-0">
                                <!--begin::Name-->
                                <a href="#" class="text-dark fw-bold text-hover-success fs-3">Alice Wayde</a>
                                <!--end::Name-->
                                <!--begin::Position-->
                                <div class="text-muted fs-6 fw-semibold mt-1">Marketing Manager</div>
                                <!--begin::Position-->
                            </div>
                            <!--end::Person-->
                        </div>
                        <!--end::Item-->
                        <!--begin::Item-->
                        <div class="text-center">
                            <!--begin::Photo-->
                            <div class="octagon mx-auto mb-5 d-flex w-200px h-200px bgi-no-repeat bgi-size-contain bgi-position-center" style="background-image:url('/img/tolisfresh/photo.png')"></div>
                            <!--end::Photo-->
                            <!--begin::Person-->
                            <div class="mb-0">
                                <!--begin::Name-->
                                <a href="#" class="text-dark fw-bold text-hover-success fs-3">Carles Puyol</a>
                                <!--end::Name-->
                                <!--begin::Position-->
                                <div class="text-muted fs-6 fw-semibold mt-1">QA Managers</div>
                                <!--begin::Position-->
                            </div>
                            <!--end::Person-->
                        </div>
                        <!--end::Item-->
                    </div>
                    <!--end::Wrapper-->
                    <!--begin::Button-->
                    <button class="btn btn-icon btn-active-color-success" id="kt_team_slider_prev">
                        <!--begin::Svg Icon | path: icons/duotune/arrows/arr074.svg-->
                        <span class="svg-icon svg-icon-3x">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M11.2657 11.4343L15.45 7.25C15.8642 6.83579 15.8642 6.16421 15.45 5.75C15.0358 5.33579 14.3642 5.33579 13.95 5.75L8.40712 11.2929C8.01659 11.6834 8.01659 12.3166 8.40712 12.7071L13.95 18.25C14.3642 18.6642 15.0358 18.6642 15.45 18.25C15.8642 17.8358 15.8642 17.1642 15.45 16.75L11.2657 12.5657C10.9533 12.2533 10.9533 11.7467 11.2657 11.4343Z" fill="currentColor" />
                            </svg>
                        </span>
                        <!--end::Svg Icon-->
                    </button>
                    <!--end::Button-->
                    <!--begin::Button-->
                    <button class="btn btn-icon btn-active-color-success" id="kt_team_slider_next">
                        <!--begin::Svg Icon | path: icons/duotune/arrows/arr071.svg-->
                        <span class="svg-icon svg-icon-3x">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M12.6343 12.5657L8.45001 16.75C8.0358 17.1642 8.0358 17.8358 8.45001 18.25C8.86423 18.6642 9.5358 18.6642 9.95001 18.25L15.4929 12.7071C15.8834 12.3166 15.8834 11.6834 15.4929 11.2929L9.95001 5.75C9.5358 5.33579 8.86423 5.33579 8.45001 5.75C8.0358 6.16421 8.0358 6.83579 8.45001 7.25L12.6343 11.4343C12.9467 11.7467 12.9467 12.2533 12.6343 12.5657Z" fill="currentColor" />
                            </svg>
                        </span>
                        <!--end::Svg Icon-->
                    </button>
                    <!--end::Button-->
                </div>
                <!--end::Slider-->
            </div>
            <!--end::Container-->
        </div>
        <!--end::Team Section-->

        <!--begin::Portfolio-->
        <div class="mb-lg-n15 position-relative z-index-2">
            <!--begin::Container-->
            <div class="container">
                <!--begin::Card-->
                <div class="card" style="filter: drop-shadow(0px 0px 40px rgba(68, 81, 96, 0.08))">
                    <!--begin::Card body-->
                    <div class="card-body p-lg-20">
                        <!--begin::Heading-->
                        <div class="text-center mb-5 mb-lg-10">
                            <!--begin::Title-->
                            <h3 class="fs-2hx text-dark mb-5" id="portfolio" data-kt-scroll-offset="{default: 100, lg: 150}">Portofolio Kami</h3>
                            <!--end::Title-->
                        </div>
                        <!--end::Heading-->
                        <!--begin::Tabs wrapper-->
                        <div class="d-flex flex-center mb-5 mb-lg-15">
                            <!--begin::Tabs-->
                            <ul class="nav border-transparent flex-center fs-5 fw-bold">
                                <li class="nav-item">
                                    <a class="nav-link text-gray-500 text-active-success px-3 px-lg-6 active" href="#" data-bs-toggle="tab" data-bs-target="#kt_landing_projects_latest">Partner</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-gray-500 text-active-success px-3 px-lg-6" href="#" data-bs-toggle="tab" data-bs-target="#kt_landing_projects_web_design">Client</a>
                                </li>
                            </ul>
                            <!--end::Tabs-->
                        </div>
                        <!--end::Tabs wrapper-->
                        <!--begin::Tabs content-->
                        <div class="tab-content">
                            <!--begin::Tab pane-->
                            <div class="tab-pane fade show active" id="kt_landing_projects_latest">
                                <!--begin::Row-->
                                <!-- d-flex flex-center -->
                                <div class="row g-10">

                                    <% partners.forEach(partner => { %>
                                    <div class="col-lg-2">
                                        <a class="d-block card-rounded overlay" data-fslightbox="lightbox-projects" href="/uploads/<%= partner.image %>">
                                            <div class="mx-auto overlay-wrapper bgi-no-repeat bgi-position-center bgi-size-cover card-rounded h-150px w-150px" style="background-image:url('/uploads/<%= partner.image %>')"></div>
                                            <div class="overlay-layer card-rounded bg-dark bg-opacity-25">
                                                <i class="bi bi-eye-fill fs-3x text-white"></i>
                                            </div>
                                        </a>
                                    </div>
                                    <% }); %>

                                </div>
                                <!--end::Row-->
                            </div>
                            <!--end::Tab pane-->
                            <!--begin::Tab pane-->
                            <div class="tab-pane fade" id="kt_landing_projects_web_design">
                                <!--begin::Row-->
                                <div class="row g-10">

                                    <% clients.forEach(client => { %>
                                    <div class="col-lg-2">
                                        <a class="d-block card-rounded overlay" data-fslightbox="lightbox-projects" href="/uploads/<%= client.image %>">
                                            <div class="mx-auto overlay-wrapper bgi-no-repeat bgi-position-center bgi-size-cover card-rounded h-150px w-150px" style="background-image:url('/uploads/<%= client.image %>')"></div>
                                            <div class="overlay-layer card-rounded bg-dark bg-opacity-25">
                                                <i class="bi bi-eye-fill fs-3x text-white"></i>
                                            </div>
                                        </a>
                                    </div>
                                    <% }); %>

                                </div>
                                <!--end::Row-->
                            </div>
                            <!--end::Tab pane-->
                        </div>
                        <!--end::Tabs content-->
                    </div>
                    <!--end::Card body-->
                </div>
                <!--end::Card-->
            </div>
            <!--end::Container-->
        </div>
        <!--end::Portfolio-->

        <!--begin::Category Section-->
        <div class="mt-sm-n20">
            <!--begin::Curve top-->
            <div class="landing-curve landing-green-color">
                <svg viewBox="15 -1 1470 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 48C4.93573 47.6644 8.85984 47.3311 12.7725 47H1489.16C1493.1 47.3311 1497.04 47.6644 1501 48V47H1489.16C914.668 -1.34764 587.282 -1.61174 12.7725 47H1V48Z" fill="currentColor"></path>
                </svg>
            </div>
            <!--end::Curve top-->
            <!--begin::Wrapper-->
            <div class="py-20 landing-green-bg">
                <!--begin::Container-->
                <div class="container">
                    <!--begin::Plans-->
                    <div class="d-flex flex-column container pt-lg-20">
                        <!--begin::Heading-->
                        <div class="mb-13 text-center">
                            <h1 class="fs-2hx fw-bold text-white mb-5" id="kategori" data-kt-scroll-offset="{default: 100, lg: 150}">Kategori Produk</h1>
                            <div class="text-gray-500 fw-semibold fs-5">Kami menawarkan berbagai pilihan produk yang bekualitas
                                <br />serta masih fresh dan siap diantarkan segera
                            </div>
                        </div>
                        <!--end::Heading-->
                        <!--begin::Pricing-->
                        <div class="text-center" id="kt_pricing">
                            <!--begin::Space-->
                            <div class="nav-group landing-green-bg d-inline-flex mb-15"></div>
                            <!--end::Space-->
                            <!--begin::Row-->
                            <div class="row g-10">
                                <!--begin::Col-->

                                <% categories.forEach(category => { %>
                                <div class="col-xl-3">
                                    <div class="d-flex h-100 align-items-center">
                                        <a href="/list-products">
                                            <!--begin::Option-->
                                            <div class="w-100 d-flex flex-column flex-center rounded-3 bg-body py-15 px-10">
                                                <!--begin::Heading-->
                                                <div class="mb-7 text-center">
                                                    <!--begin::Title-->
                                                    <h1 class="text-dark mb-5 fw-boldest"><%= category.name %></h1>
                                                    <!--end::Title-->
                                                    <!--begin::Image-->
                                                    <img class="mw-200px mh-200px card-rounded" alt="category" src="/uploads/<%= category.image %>" />
                                                    <!--end::Image-->
                                                </div>
                                                <!--end::Heading-->
                                                <!--begin::Select-->
                                                <!-- <a href="#" class="btn btn-primary">Lihat</a> -->
                                                <!--end::Select-->
                                            </div>
                                            <!--end::Option-->
                                        </a>
                                    </div>
                                </div>
                                <% }); %>

                                <!--end::Col-->
                            </div>
                            <!--end::Row-->
                        </div>
                        <!--end::Pricing-->
                    </div>
                    <!--end::Plans-->
                </div>
                <!--end::Container-->
            </div>
            <!--end::Wrapper-->
            <!--begin::Curve bottom-->
            <div class="landing-curve landing-green-color">
                <svg viewBox="15 12 1470 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 11C3.93573 11.3356 7.85984 11.6689 11.7725 12H1488.16C1492.1 11.6689 1496.04 11.3356 1500 11V12H1488.16C913.668 60.3476 586.282 60.6117 11.7725 12H0V11Z" fill="currentColor"></path>
                </svg>
            </div>
            <!--end::Curve bottom-->
        </div>
        <!--end::Category Section-->

        <!--begin::Testimonials Section-->
        <div class="mt-20 mb-n20 position-relative z-index-2">
            <!--begin::Container-->
            <div class="container">
                <!--begin::Heading-->
                <div class="text-center mb-17">
                    <!--begin::Title-->
                    <h3 class="fs-2hx text-dark mb-5" id="clients" data-kt-scroll-offset="{default: 125, lg: 150}">Testimoni</h3>
                    <!--end::Title-->
                    <!--begin::Description-->
                    <div class="fs-5 text-muted fw-bold">Berikut apa yang client kami katakan dan rasakan
                        <br /> terkait produk yang ada di Tolisfresh
                    </div>
                    <!--end::Description-->
                </div>
                <!--end::Heading-->
                <!--begin::Space-->
                <div class="landing-green-bg d-inline-flex mb-15"></div>
                <!--end::Space-->
                <!--begin::Row-->
                <div class="row g-lg-10 mb-10 mb-lg-20">
                    <!--begin::Col-->
                    <div class="col-lg-4">
                        <!--begin::Testimonial-->
                        <div class="d-flex flex-column justify-content-between h-lg-100 px-10 px-lg-0 pe-lg-10 mb-15 mb-lg-0">
                            <!--begin::Wrapper-->
                            <div class="mb-7">
                                <!--begin::Rating-->
                                <div class="rating mb-6">
                                    <div class="rating-label me-2 checked">
                                        <i class="bi bi-star-fill fs-5"></i>
                                    </div>
                                    <div class="rating-label me-2 checked">
                                        <i class="bi bi-star-fill fs-5"></i>
                                    </div>
                                    <div class="rating-label me-2 checked">
                                        <i class="bi bi-star-fill fs-5"></i>
                                    </div>
                                    <div class="rating-label me-2 checked">
                                        <i class="bi bi-star-fill fs-5"></i>
                                    </div>
                                    <div class="rating-label me-2 checked">
                                        <i class="bi bi-star-fill fs-5"></i>
                                    </div>
                                </div>
                                <!--end::Rating-->
                                <!--begin::Title-->
                                <div class="fs-2 fw-bold text-dark mb-3">Ayamnya masih fresh</div>
                                <!--end::Title-->
                                <!--begin::Feedback-->
                                <div class="text-gray-500 fw-semibold fs-4">
                                    Pesan ayam di tolisfresh berkualitas dan terjamin, ayamnya masih seger jadi bisa langsung diolah. Makasih tolisfresh</div>
                                <!--end::Feedback-->
                            </div>
                            <!--end::Wrapper-->
                            <!--begin::Author-->
                            <div class="d-flex align-items-center">
                                <!--begin::Avatar-->
                                <div class="symbol symbol-circle symbol-50px me-5">
                                    <img src="/img/tolisfresh/photo.png" alt="photo" />
                                </div>
                                <!--end::Avatar-->
                                <!--begin::Name-->
                                <div class="flex-grow-1">
                                    <a href="#" class="text-dark fw-bold text-hover-primary fs-6">Paul Miles</a>
                                    <span class="text-muted d-block fw-bold">Development Lead</span>
                                </div>
                                <!--end::Name-->
                            </div>
                            <!--end::Author-->
                        </div>
                        <!--end::Testimonial-->
                    </div>
                    <!--end::Col-->
                    <!--begin::Col-->
                    <div class="col-lg-4">
                        <!--begin::Testimonial-->
                        <div class="d-flex flex-column justify-content-between h-lg-100 px-10 px-lg-0 pe-lg-10 mb-15 mb-lg-0">
                            <!--begin::Wrapper-->
                            <div class="mb-7">
                                <!--begin::Rating-->
                                <div class="rating mb-6">
                                    <div class="rating-label me-2 checked">
                                        <i class="bi bi-star-fill fs-5"></i>
                                    </div>
                                    <div class="rating-label me-2 checked">
                                        <i class="bi bi-star-fill fs-5"></i>
                                    </div>
                                    <div class="rating-label me-2 checked">
                                        <i class="bi bi-star-fill fs-5"></i>
                                    </div>
                                    <div class="rating-label me-2 checked">
                                        <i class="bi bi-star-fill fs-5"></i>
                                    </div>
                                    <div class="rating-label me-2 checked">
                                        <i class="bi bi-star-fill fs-5"></i>
                                    </div>
                                </div>
                                <!--end::Rating-->
                                <!--begin::Title-->
                                <div class="fs-2 fw-bold text-dark mb-3">
                                    Barangnya cepet sampe
                                </div>
                                <!--end::Title-->
                                <!--begin::Feedback-->
                                <div class="text-gray-500 fw-semibold fs-4">
                                    Saya kira pengirimannya lama, eh ternyata cepet juga sampenya. Kalo cepet ginih sih saya akan order lagi
                                </div>
                                <!--end::Feedback-->
                            </div>
                            <!--end::Wrapper-->
                            <!--begin::Author-->
                            <div class="d-flex align-items-center">
                                <!--begin::Avatar-->
                                <div class="symbol symbol-circle symbol-50px me-5">
                                    <img src="/img/tolisfresh/photo.png" alt="photo" />
                                </div>
                                <!--end::Avatar-->
                                <!--begin::Name-->
                                <div class="flex-grow-1">
                                    <a href="#" class="text-dark fw-bold text-hover-primary fs-6">Janya Clebert</a>
                                    <span class="text-muted d-block fw-bold">Development Lead</span>
                                </div>
                                <!--end::Name-->
                            </div>
                            <!--end::Author-->
                        </div>
                        <!--end::Testimonial-->
                    </div>
                    <!--end::Col-->
                    <!--begin::Col-->
                    <div class="col-lg-4">
                        <!--begin::Testimonial-->
                        <div class="d-flex flex-column justify-content-between h-lg-100 px-10 px-lg-0 pe-lg-10 mb-15 mb-lg-0">
                            <!--begin::Wrapper-->
                            <div class="mb-7">
                                <!--begin::Rating-->
                                <div class="rating mb-6">
                                    <div class="rating-label me-2 checked">
                                        <i class="bi bi-star-fill fs-5"></i>
                                    </div>
                                    <div class="rating-label me-2 checked">
                                        <i class="bi bi-star-fill fs-5"></i>
                                    </div>
                                    <div class="rating-label me-2 checked">
                                        <i class="bi bi-star-fill fs-5"></i>
                                    </div>
                                    <div class="rating-label me-2 checked">
                                        <i class="bi bi-star-fill fs-5"></i>
                                    </div>
                                    <div class="rating-label me-2 checked">
                                        <i class="bi bi-star-fill fs-5"></i>
                                    </div>
                                </div>
                                <!--end::Rating-->
                                <!--begin::Title-->
                                <div class="fs-2 fw-bold text-dark mb-3">
                                    Pilihan produknya banyak
                                </div>
                                <!--end::Title-->
                                <!--begin::Feedback-->
                                <div class="text-gray-500 fw-semibold fs-4">
                                    Produknya banyak, jadi restoran saya tidak perlu pusing cari ditempat lain karena sebagian besar barangnya ada disini
                                </div>
                                <!--end::Feedback-->
                            </div>
                            <!--end::Wrapper-->
                            <!--begin::Author-->
                            <div class="d-flex align-items-center">
                                <!--begin::Avatar-->
                                <div class="symbol symbol-circle symbol-50px me-5">
                                    <img src="/img/tolisfresh/photo.png" alt="photo" />
                                </div>
                                <!--end::Avatar-->
                                <!--begin::Name-->
                                <div class="flex-grow-1">
                                    <a href="#" class="text-dark fw-bold text-hover-primary fs-6">Steave Brown</a>
                                    <span class="text-muted d-block fw-bold">Development Lead</span>
                                </div>
                                <!--end::Name-->
                            </div>
                            <!--end::Author-->
                        </div>
                        <!--end::Testimonial-->
                    </div>
                    <!--end::Col-->
                </div>
                <!--end::Row-->
                <!--begin::Highlight-->
                <div class="d-flex flex-stack flex-wrap flex-md-nowrap card-rounded shadow p-8 p-lg-12 mb-n5 mb-lg-n13" style="background: linear-gradient(90deg, #20AA3E 0%, #03A588 100%);">
                    <!--begin::Content-->
                    <div class="my-2 me-5">
                        <!--begin::Title-->
                        <div class="fs-1 fs-lg-2qx fw-normal text-white mb-2">Supplier Bahan Baku
                            <span class="fw-bold">Makanan Terpercaya</span>
                        </div>
                        <!--end::Title-->
                        <!--begin::Description-->
                        <div class="fs-6 fs-lg-5 text-white fw-semibold opacity-75">Tolis Fresh merupakan supplier penyedia aneka sayuran, buah-buahan, sembako dan daging ayam.</div>
                        <!--end::Description-->
                    </div>
                    <!--end::Content-->
                    <!--begin::Action-->
                    <button type="button" class="btn btn-lg btn-outline border-2 btn-outline-white flex-shrink-0 my-2" data-bs-toggle="modal" data-bs-target="#kt_modal_1">
                        Pesan
                    </button>
                    <!--end::Action-->
                </div>
                <!--end::Highlight-->
            </div>
            <!--end::Container-->
        </div>
        <!--end::Testimonials Section-->

        <!--begin::Footer Section-->
        <div class="mb-0">
            <!--begin::Curve top-->
            <div class="landing-curve landing-green-color">
                <svg viewBox="15 -1 1470 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 48C4.93573 47.6644 8.85984 47.3311 12.7725 47H1489.16C1493.1 47.3311 1497.04 47.6644 1501 48V47H1489.16C914.668 -1.34764 587.282 -1.61174 12.7725 47H1V48Z" fill="currentColor"></path>
                </svg>
            </div>
            <!--end::Curve top-->
            <!--begin::Wrapper-->
            <div class="landing-green-bg pt-20">
                <!--begin::Container-->
                <div class="container">
                    <!--begin::Row-->
                    <div class="row py-10 py-lg-20">
                        <!--begin::Col-->
                        <div class="col-lg-6 pe-lg-16 mb-10 mb-lg-0">
                            <!--begin::Block-->
                            <div class="rounded landing-dark-border p-9 mb-10">
                                <!--begin::Title-->
                                <h2 class="text-white mb-5">Tolisfresh</h2>
                                <!--end::Title-->
                                <!--begin::Text-->
                                <span class="fw-normal fs-5 text-gray-400">
                                    Tolis Fresh merupakan supplier terpercaya penyedia aneka jenis sayuran, buah-buahan, sembako dan daging ayam.
                                    Kami juga selalu berkomitmen menjaga kepercayaan konsumen dan memberikan kualitas barang terbaik.
                                    Kami telah memasok ke beberapa sektor seperti BUMN & BUMD serta beberapa industri HORECA se-JABODETABEK.
                                </span>
                                <!--end::Text-->
                            </div>
                            <!--end::Block-->
                        </div>
                        <!--end::Col-->
                        <!--begin::Col-->
                        <div class="col-lg-6 ps-lg-16">
                            <!--begin::Navs-->
                            <div class="d-flex justify-content-center">
                                <!--begin::Links-->
                                <div class="d-flex fw-semibold flex-column me-20">
                                    <!--begin::Subtitle-->
                                    <h4 class="fw-bold text-gray-400 mb-6">Menu</h4>
                                    <!--end::Subtitle-->
                                    <!--begin::Link-->
                                    <a data-kt-scroll-toggle="true" data-kt-drawer-dismiss="true" href="#pesan" class="text-white opacity-50 text-hover-success fs-5 mb-6">Pemesanan</a>
                                    <!--end::Link-->
                                    <!--begin::Link-->
                                    <a data-kt-scroll-toggle="true" data-kt-drawer-dismiss="true" href="#tolisfresh" class="text-white opacity-50 text-hover-success fs-5 mb-6">Tolisfresh</a>
                                    <!--end::Link-->
                                    <!--begin::Link-->
                                    <a data-kt-scroll-toggle="true" data-kt-drawer-dismiss="true" href="#team" class="text-white opacity-50 text-hover-success fs-5 mb-6">Team</a>
                                    <!--end::Link-->
                                    <!--begin::Link-->
                                    <a data-kt-scroll-toggle="true" data-kt-drawer-dismiss="true" href="#portfolio" class="text-white opacity-50 text-hover-success fs-5 mb-6">Portfolio</a>
                                    <!--end::Link-->
                                    <!--begin::Link-->
                                    <a data-kt-scroll-toggle="true" data-kt-drawer-dismiss="true" href="#kategori" class="text-white opacity-50 text-hover-success fs-5">Kategori</a>
                                    <!--end::Link-->
                                </div>
                                <!--end::Links-->
                                <!--begin::Links-->
                                <div class="d-flex fw-semibold flex-column ms-lg-20">
                                    <!--begin::Subtitle-->
                                    <h4 class="fw-bold text-gray-400 mb-6">Media Sosial</h4>
                                    <!--end::Subtitle-->
                                    <!--begin::Link-->
                                    <a href="mailto:admin@tolisfresh.com" class="mb-6">
                                        <!--begin::Svg Icon | path: C:/wamp64/www/keenthemes/core/html/src/media/icons/duotune/communication/com002.svg-->
                                        <span class="svg-icon svg-icon-2x"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path opacity="0.3" d="M21 18H3C2.4 18 2 17.6 2 17V7C2 6.4 2.4 6 3 6H21C21.6 6 22 6.4 22 7V17C22 17.6 21.6 18 21 18Z" fill="currentColor" />
                                                <path d="M11.4 13.5C11.8 13.8 12.3 13.8 12.6 13.5L21.6 6.30005C21.4 6.10005 21.2 6 20.9 6H2.99998C2.69998 6 2.49999 6.10005 2.29999 6.30005L11.4 13.5Z" fill="currentColor" />
                                            </svg>
                                        </span>
                                        <!--end::Svg Icon-->
                                        <span class="text-white opacity-50 text-hover-success fs-5 mb-6">Email</span>
                                    </a>
                                    <!--end::Link-->
                                    <!--begin::Link-->
                                    <a href="https://www.instagram.com/tolisfresh_id/" class="mb-6">
                                        <!--begin::Svg Icon | path: C:/wamp64/www/keenthemes/core/html/src/media/icons/duotune/social/soc005.svg-->
                                        <span class="svg-icon svg-icon-2x"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path opacity="0.3" d="M22 8.20267V15.7027C22 19.1027 19.2 22.0026 15.7 22.0026H8.2C4.8 22.0026 2 19.2027 2 15.7027V8.20267C2 4.80267 4.8 2.0026 8.2 2.0026H15.7C19.2 1.9026 22 4.70267 22 8.20267ZM12 7.30265C9.5 7.30265 7.39999 9.40262 7.39999 11.9026C7.39999 14.4026 9.5 16.5026 12 16.5026C14.5 16.5026 16.6 14.4026 16.6 11.9026C16.6 9.30262 14.5 7.30265 12 7.30265ZM17.9 5.0026C17.3 5.0026 16.9 5.4026 16.9 6.0026C16.9 6.6026 17.3 7.0026 17.9 7.0026C18.5 7.0026 18.9 6.6026 18.9 6.0026C18.9 5.5026 18.4 5.0026 17.9 5.0026Z" fill="currentColor" />
                                                <path d="M12 17.5026C8.9 17.5026 6.39999 15.0026 6.39999 11.9026C6.39999 8.80259 8.9 6.30261 12 6.30261C15.1 6.30261 17.6 8.80259 17.6 11.9026C17.6 15.0026 15.1 17.5026 12 17.5026ZM12 8.30261C10 8.30261 8.39999 9.90259 8.39999 11.9026C8.39999 13.9026 10 15.5026 12 15.5026C14 15.5026 15.6 13.9026 15.6 11.9026C15.6 9.90259 14 8.30261 12 8.30261Z" fill="currentColor" />
                                            </svg>
                                        </span>
                                        <!--end::Svg Icon-->
                                        <span class="text-white opacity-50 text-hover-success fs-5 mb-6">Instagram</span>
                                    </a>
                                    <!--end::Link-->
                                    <!--begin::Link-->
                                    <a href="/" class="mb-6">
                                        <!--begin::Svg Icon | path: C:/wamp64/www/keenthemes/core/html/src/media/icons/duotune/electronics/elc001.svg-->
                                        <span class="svg-icon svg-icon-2x"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M20 19H4C2.9 19 2 18.1 2 17H22C22 18.1 21.1 19 20 19Z" fill="currentColor" />
                                                <path opacity="0.3" d="M20 5H4C3.4 5 3 5.4 3 6V17H21V6C21 5.4 20.6 5 20 5Z" fill="currentColor" />
                                            </svg>
                                        </span>
                                        <!--end::Svg Icon-->
                                        <span class="text-white opacity-50 text-hover-success fs-5 mb-6">Website</span>
                                    </a>
                                    <!--end::Link-->
                                    <!--begin::Link-->
                                    <a href="https://api.whatsapp.com/send/?phone=6281519178070" class="mb-6">
                                        <!--begin::Svg Icon | path: C:/wamp64/www/keenthemes/core/html/src/media/icons/duotune/electronics/elc002.svg-->
                                        <span class="svg-icon svg-icon-2x"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M6 21C6 21.6 6.4 22 7 22H17C17.6 22 18 21.6 18 21V20H6V21Z" fill="currentColor" />
                                                <path opacity="0.3" d="M17 2H7C6.4 2 6 2.4 6 3V20H18V3C18 2.4 17.6 2 17 2Z" fill="currentColor" />
                                                <path d="M12 4C11.4 4 11 3.6 11 3V2H13V3C13 3.6 12.6 4 12 4Z" fill="currentColor" />
                                            </svg>
                                        </span>
                                        <!--end::Svg Icon-->
                                        <span class="text-white opacity-50 text-hover-success fs-5 mb-6">WhatsApp</span>
                                    </a>
                                    <!--end::Link-->
                                </div>
                                <!--end::Links-->
                            </div>
                            <!--end::Navs-->
                        </div>
                        <!--end::Col-->
                    </div>
                    <!--end::Row-->
                </div>
                <!--end::Container-->

                <!--begin::Separator-->
                <div class="landing-dark-separator"></div>
                <!--end::Separator-->

                <!--begin::Container-->
                <div class="container">
                    <!--begin::Wrapper-->
                    <div class="d-flex flex-column flex-md-row flex-stack py-7 py-lg-10">

                        <!--begin::Copyright-->
                        <div class="d-flex align-items-center order-2 order-md-1">
                            <!--begin::Logo-->
                            <a href="/">
                                <img alt="Logo" src="/img/tolisfresh/logo-tolis.png" class="h-20px h-md-40px" />
                            </a>
                            <!--end::Logo image-->
                            <!--begin::Logo image-->
                            <span class="mx-5 fs-6 fw-semibold text-gray-300 pt-1" href="/"> <%= new Date().getFullYear() %> Tolisfresh.</span>
                            <!--end::Logo image-->
                        </div>
                        <!--end::Copyright-->



                    </div>
                    <!--end::Wrapper-->
                </div>
                <!--end::Container-->
            </div>
            <!--end::Wrapper-->
        </div>
        <!--end::Footer Section-->

        <!--begin::Scrolltop-->
        <div id="kt_scrolltop" class="scrolltop" data-kt-scrolltop="true">
            <!--begin::Svg Icon | path: icons/duotune/arrows/arr066.svg-->
            <span class="svg-icon">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect opacity="0.5" x="13" y="6" width="13" height="2" rx="1" transform="rotate(90 13 6)" fill="currentColor" />
                    <path d="M12.5657 8.56569L16.75 12.75C17.1642 13.1642 17.8358 13.1642 18.25 12.75C18.6642 12.3358 18.6642 11.6642 18.25 11.25L12.7071 5.70711C12.3166 5.31658 11.6834 5.31658 11.2929 5.70711L5.75 11.25C5.33579 11.6642 5.33579 12.3358 5.75 12.75C6.16421 13.1642 6.83579 13.1642 7.25 12.75L11.4343 8.56569C11.7467 8.25327 12.2533 8.25327 12.5657 8.56569Z" fill="currentColor" />
                </svg>
            </span>
            <!--end::Svg Icon-->
        </div>
        <!--end::Scrolltop-->

    </div>
    <!--end::Root-->

    <!--begin::Scrolltop-->
    <div id="kt_scrolltop" class="scrolltop" data-kt-scrolltop="true">
        <!--begin::Svg Icon | path: icons/duotune/arrows/arr066.svg-->
        <span class="svg-icon">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect opacity="0.5" x="13" y="6" width="13" height="2" rx="1" transform="rotate(90 13 6)" fill="currentColor" />
                <path d="M12.5657 8.56569L16.75 12.75C17.1642 13.1642 17.8358 13.1642 18.25 12.75C18.6642 12.3358 18.6642 11.6642 18.25 11.25L12.7071 5.70711C12.3166 5.31658 11.6834 5.31658 11.2929 5.70711L5.75 11.25C5.33579 11.6642 5.33579 12.3358 5.75 12.75C6.16421 13.1642 6.83579 13.1642 7.25 12.75L11.4343 8.56569C11.7467 8.25327 12.2533 8.25327 12.5657 8.56569Z" fill="currentColor" />
            </svg>
        </span>
        <!--end::Svg Icon-->
    </div>
    <!--end::Scrolltop-->

    <!--begin::WhatsApp-->
    <div class="whatsapp_chat_support wcs_fixed_right" id="example">
        <div class="wcs_button_label">
            Ada Pertanyaan ?
        </div>
        <div class="wcs_button wcs_button_circle">
            <span class="bi bi-whatsapp fs-2hx"></span>
        </div>

        <div class=" wcs_popup">
            <div class="wcs_popup_close">
                <span class="fa fa-close"></span>
            </div>
            <div class="wcs_popup_header">
                <strong>Butuh Bantuan?</strong>
                <br>
                <div class="wcs_popup_header_description">Klik salah satu perwakilan kami!</div>
            </div>
            <div class="wcs_popup_person_container">
                <div class="wcs_popup_person" data-number="6281519178070" data-default-msg="Hallo Admin Kania, saya mau tanya tentang Tolisfresh. (sumber: https://tolisfresh.com/)">
                    <div class="wcs_popup_person_img"><img src="/img/whatsapp/person_5.jpg" alt="kania"></div>
                    <div class="wcs_popup_person_content">
                        <div class="wcs_popup_person_name">Kania</div>
                        <div class="wcs_popup_person_description">Specialis Hotel</div>
                        <div class="wcs_popup_person_status">Online</div>
                    </div>
                </div>

                <div class="wcs_popup_person" data-number="6281519178070" data-default-msg="Hallo Admin Angga, saya mau tanya tentang Tolisfresh. (sumber: https://tolisfresh.com/)">
                    <div class="wcs_popup_person_img"><img src="/img/whatsapp/person_6.jpg" alt="angga"></div>
                    <div class="wcs_popup_person_content">
                        <div class="wcs_popup_person_name">Angga</div>
                        <div class="wcs_popup_person_description">Specialis Cafe</div>
                        <div class="wcs_popup_person_status">Online</div>
                    </div>
                </div>

                <div class="wcs_popup_person" data-number="6281519178070" data-default-msg="Hallo Admin Amelia, saya mau tanya tentang Tolisfresh. (sumber: https://tolisfresh.com/)">
                    <div class="wcs_popup_person_img"><img src="/img/whatsapp/person_4.png" alt="amelia"></div>
                    <div class="wcs_popup_person_content">
                        <div class="wcs_popup_person_name">Amelia</div>
                        <div class="wcs_popup_person_description">Specialis Restaurant</div>
                        <div class="wcs_popup_person_status">Online</div>
                    </div>
                </div>

                <div class="wcs_popup_person" data-number="6281519178070" data-default-msg="Hallo Admin Bayu, saya mau tanya tentang Tolisfresh. (sumber: https://tolisfresh.com/)">
                    <div class="wcs_popup_person_img"><img src="/img/whatsapp/person_7.jpg" alt="bayu"></div>
                    <div class="wcs_popup_person_content">
                        <div class="wcs_popup_person_name">Bayu</div>
                        <div class="wcs_popup_person_description">Bidang Lainnya</div>
                        <div class="wcs_popup_person_status">Online</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end::WhatsApp-->

    <!--begin::Javascript-->
    <script>
        var hostUrl = "assets/";
    </script>
    <!--begin::Global Javascript Bundle(used by all pages)-->
    <script src="/assets/plugins/global/plugins.bundle.js"></script>
    <script src="/assets/js/scripts.bundle.js"></script>
    <!--end::Global Javascript Bundle-->
    <!--begin::Vendors Javascript(used by this page)-->
    <script src="/assets/plugins/custom/fslightbox/fslightbox.bundle.js"></script>
    <script src="/assets/plugins/custom/typedjs/typedjs.bundle.js"></script>
    <!--end::Vendors Javascript-->
    <!--begin::Custom Javascript(used by this page)-->
    <script src="/assets/js/custom/landing.js"></script>
    <script src="/assets/js/custom/pages/pricing/general.js"></script>
    <!--end::Custom Javascript-->
    <!--begin::WhatsApp-->
    <script src="/plugin/components/jquery/jquery-1.11.3.min.js"></script>
    <script src="/plugin/components/moment/moment.min.js"></script>
    <script src="/plugin/components/moment/moment-timezone-with-data.min.js"></script>
    <script src="/plugin/whatsapp-chat-support.js"></script>
    <script>
        $('#example').whatsappChatSupport();
    </script>
    <!--end::WhatsApp-->
    <!--end::Javascript-->
</body>

</html>