<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <%- include('partials/_navbar') %>

    <section> <br>
        <a href="/products/add"><button>Add Product</button></a>
    </section>

    <h1>Product</h1>

    <table border="1" cellspacing="0">
        <tr>
            <th>No</th>
            <th>Name</th>
            <th>Price</th>
            <th>Stock</th>
            <th>Expired</th>
            <th>Image</th>
            <th>Description</th>
            <th>Category</th>
            <th>Partner</th>
            <th>Action</th>
        </tr>
        <% products.forEach((el, index) => { %>
        <tr>
            <td><%= ++index %></td>
            <td><%= el.name %></td>
            <td><%= el.currencyId %></td>
            <td><%= el.stock %></td>
            <td><%= el.dateOfExpired %></td>
            <td><%= el.image %></td>
            <td><%= el.description %></td>
            <td><%= el.Category?.name %></td>
            <td><%= el.Partner?.name %></td>
            <td>
                <a href="/products/edit/<%= el.id %>"><button>Edit</button></a>
                <a href="/products/delete/<%= el.id %>"><button>Delete</button></a>
            </td>
            <% }) %>
    </table>

    <%- include('partials/_footer', { menu: "Product" }) %>
</body>

</html>