<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <%- include('partials/_navbar') %>

    <section> <br>
        <a href="/user-details/edit/<%= user.id %>"><button>Edit</button></a>
    </section>

    <h1>Profile</h1>

    <table>
        <tr>
            <td>Username</td>
            <td>: <%= user.username %></td>
        </tr>
        <tr>
            <td>First Name</td>
            <td>: <%= user.UserDetail?.firstName %></td>
        </tr>
        <tr>
            <td>Last Name</td>
            <td>: <%= user.UserDetail?.lastName %></td>
        </tr>
        <tr>
            <td>Phone Number</td>
            <td>: <%= user.UserDetail?.phoneNumber %></td>
        </tr>
        <tr>
            <td>Age</td>
            <td>: <%= user.UserDetail?.age %></td>
        </tr>
        <tr>
            <td>Address</td>
            <td>: <%= user.UserDetail?.address %></td>
        </tr>
    </table>

    <%- include('partials/_footer', { menu: "Profile" }) %>
</body>

</html>