<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add User</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <%- include('../partials/_navbar') %>

    <h1>Add User</h1>

    <% if (error) { %>
    <section>
        <p class="error"><%= error %></p>
    </section>
    <% } %>

    <form action="/users/add" method="POST">
        <table>
            <tr>
                <td><label>Username</label></td>
                <td><input type="text" name="username"></td>
            </tr>
            <tr>
                <td><label>Email</label></td>
                <td><input type="text" name="email"></td>
            </tr>
            <tr>
                <td><label>Password</label></td>
                <td><input type="password" name="password"></td>
            </tr>
            <tr>
                <td><label>Role</label></td>
                <td>
                    <select name="RoleId">
                        <option value="" selected disabled>--Select Role--</option>
                        <% roles.forEach(el => { %>
                        <option value="<%= el.id %>"><%= el.name %></option>
                        <% }) %>
                    </select>
                </td>
            </tr>
        </table> <br>

        <button type="submit">Submit</button>
    </form>

    <%- include('../partials/_footer', { menu: "Add User" }) %>
</body>

</html>